$html-font-size: 13px;

html {
    font-size: $html-font-size;
}

$black--primary: black;

$blue--hover: #A7E2FF;
$blue--dark: #006F9F;

$height--multiselect: 40px;
$height--year: 30px;

$c-menu--toggle-icon-width: 3rem;
$c-menu--inside-padding: 1.1rem;
